@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  scroll-behavior: smooth;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #94a3b8;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 4px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Color del fondo */
}

::-webkit-scrollbar-thumb {
  background: #e7e5e4; /* Color del thumb (barra de desplazamiento) */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6a09b; /* Color cuando el mouse pasa por encima */
  cursor: pointer;
}

.right-column {
  overflow-y: auto; /* Oculta el scroll vertical */
  height: 100vh; /* Altura máxima */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.right-column::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.arrow-container {
  transition: transform 0.1s ease-in-out;
  transform: translate(-5px, 5px);
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #f1f1f1;
}

.arrow {
  transform: rotate(-45deg);
  transition: all 0.1s;
}

.bg-dark {
  background: #0f172a;
}

.text-geome7ric {
  color: #00ee90;
}
.job-title:hover {
  color: #00ee90;
}

.skill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 4px;
  text-align: center;
  background-color: #142133;
}

.skill:hover {
  background-color: #0c1226;
  transition: all 0.1s;
}

.job-title:hover {
  .arrow-container {
    transition: transform 0.1s ease-in-out;
    transform: translate(1px, -1px);

    .arrow {
      transition: transform 0.1s ease-in-out;
    }
  }
}

a {
  &.text-bold {
    font-weight: 700;
  }

  &.cursor-pointer {
    cursor: pointer;
  }

  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 700;
}

a:hover {
  color: #fafafa;
}
